.title{
    color: red;
    text-decoration: none
}

.navbar{
    background-color: #b3ddfc
}

.navbar-brand img{
    height: 30px;
    width: 200px
}

.nav-link.active{
    font-weight: 500;
}

.error{
    color: rgb(234, 39, 39);
}

.datatable-select{
    width: fit-content
}

footer {
    position: fixed;
    background-color: #b3ddfc;
    height: 75px;
    bottom: -20px;
    width: 100%;
}

body{
    margin-bottom: 100px;
}

.content{
    margin-top: 80px;
}

.login-container{
    position: relative;
    margin-left: 35%;
    margin-top: 25vh;
    margin-bottom: 100px
}

input[readonly], input[readonly]:focus {
    background-color: #f2f2f2; /* Grey background color */
}